@charset "UTF-8";
/* CSS Document */
body {
  margin: 0;
	font-size: 16px;
  font-family: "Quattrocento";
	background-color: #F9EFE4;
color: #631A1B
}

.topnav {
  position: fixed;
background-color: #F9EFE4;
  top: 0;
  width: 100%;
  overflow: hidden;
	font-family: "Old Standard TT";
	color: #631A1B;
		border-bottom: 3.5px double #631A1B;
		z-index: 3;
}

.topnav a {
  float: left;
  color: #631A1B;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 25px;
	
}

.topnav a:hover {
	color: #631A1B;
	 text-decoration: underline;
	text-decoration-thickness: 1px;
	  text-decoration-style: dotted;

}

.topnav a.active {
  color: #631A1B;
 text-decoration: underline;
	text-decoration-thickness: 1.5px;
	  text-decoration-style: dotted;

}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.topnav-right {
  float: right;
	top: 50%;
	font-size: 50px;
}
h1{
	font-size: 100px;
	padding-bottom: 10;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 25px;
}
p{
	margin-bottom: 20px;
}
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #F9EFE4;
	  font-size: 16px;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #631A1B;
	 text-decoration-thickness: 1px;
  content: "/\00a0"; 

}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
	color: #631A1B;
	 text-decoration: none;  font-size: 16px;

}
ul.breadcrumb li a.active {
	color: #631A1B;
	 text-decoration: underline;
			text-decoration-thickness: 1px;

}
/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #631A1B;
  text-decoration: underline;
		text-decoration-thickness: 1px;
	opacity: 100%;
}
.main{
	padding: 70px 100px 50px;
		  height: 2550px;
	
}
.form label{
	font-size: 20px;
	color: #631A1B;
  font-family: "Quattrocento";
}
.form input[type=text], select {
  font-size: 16px;
  font-family: "Quattrocento";
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #F9EFE4;
  border: 1px solid #631A1B;
  border-radius: 4px;
  box-sizing: border-box;
}

.form input[type=submit] {
  font-size: 16px;
  font-family: "Quattrocento";
  text-align: center;
  width: 50%;
  background-color: #631A1B;
  color: #F9EFE4;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #631A1B;
  opacity: 50%;
}
#fname, #eaddress, #message, #inquiry {
	font-size: 16px;
  font-family: "Quattrocento";
  color: #631A1B;
}
div.contact {
  border-radius: 5px;
  background-color: #F9EFE4;
  padding: 20px;
}
div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

div.title {
  color: grey;
  font-size: 18px;
}

.form button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #631A1B;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.form a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
		z-index: 1;
}
.fa {
 padding: 30px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
	border: double#631A1B;
	z-index: 1;
}


/* linkedin */
.fa-linkedin {
  background: #F9EFE4;
		margin: 15px;
  color: #631A1B ;
}

/* pinterest */
.fa-pinterest {
  background: #F9EFE4;
	margin: 15px;
  color: #631A1B ;
}
#footer{
	border-top: 3px double #631A1B;
	padding: 10px 20px;
font-size: 16px;
  font-family: "Old Standard TT";
	background-color: #F9EFE4;
color: #631A1B	
}
#footer{
	border-top: 3px double #631A1B;
	padding: 10px 20px;
font-size: 16px;
	  width:98%;
  font-family: "Old Standard TT";
	background-color: #F9EFE4;
color: #631A1B;	
	position: absolute
}
#footer a{
	color: #631A1B;
	text-decoration: none;
}
#footer a:hover {
	color: #631A1B;
	 text-decoration: underline;
	text-decoration-thickness: 1px;
	  text-decoration-style: dotted;
}
.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 250px;
	color: #631A1B;
}

.column a {
	color: #631A1B;
	text-decoration: none;
}
.column a:hover {
	color: #631A1B;
	 text-decoration: underline;
	text-decoration-thickness: 1px;
	  text-decoration-style: dotted;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h6{
	font-size: 20px;
	padding-bottom: 10px;
}
.column ol{
	padding-left: 5px;
}